<div class="animated fadeIn">
  	<div class="row">
    	<div class="col-lg-12" *ngIf="hero.id">
			<div class="card">
				<div class="card-body d-flex justify-content-around" >
					<div >
						<h5 class="card-title">Nova Ameaça Encontrada</h5>
						<p class="card-text">Um héroi será encaminhado para defender o mundo.</p>
						<p class="card-text">Dados da ameaça:</p>
						<p class="card-text">{{threat.monsterName}}.</p>
						<p class="card-text">{{threat.dangerLevel}}.</p>
						<p class="card-text">Localidade: {{threat.location.lat}} e {{threat.location.lng}}.</p>
					</div>
					<div >
						<h5 class="card-title">Herói Encarregado</h5>
						<p class="card-text">Dados do Herói:</p>
						<p class="card-text">{{hero.name}}.</p>
						<p class="card-text">{{hero.enumHero}}.</p>
						<p class="card-text">Localidade: {{hero.location.lat}} e {{hero.location.lng}}.</p>
					</div>
				</div>
			</div>
    	</div><!--/.col-->
		<div class="col-lg-12">
			<google-map [options]="options" 
			height="500px"
			width="100%">
				<map-marker
				*ngFor="let marker of markers"
					[position]="marker.position"
					[label]="marker.label"
					[title]="marker.title"
					[options]="marker.options"
			  >
			  </map-marker>
			</google-map>
		</div>
			
  	</div><!--/.row-->
</div>
