<div class="animated fadeIn">
  	<div class="row">
    	<div class="col-lg-12">
			<div class="card">
				<img src="assets/img/monster.jpg" class="card-img-top img">
				<div class="card-body d-flex justify-content-around">
					<div>
						<h5 class="card-title">Nova Ameaça Encontrada</h5>
						<p class="card-text">Um héroi será encaminhado para defender o mundo.</p>
						<p class="card-text">Dados da ameaça:</p>
						<p class="card-text">Nome ameaça.</p>
						<p class="card-text">Nivel.</p>
						<p class="card-text">Localidade: Latitude e longitude.</p>
					</div>
					<div >
						<h5 class="card-title">Herói Encarregado</h5>
						<p class="card-text">Dados do Herói:</p>
						<p class="card-text">Nome herói.</p>
						<p class="card-text">Nivel.</p>
						<p class="card-text">Localidade: Latitude e longitude.</p>
					</div>
				</div>
			</div>
    	</div><!--/.col-->
  	</div><!--/.row-->
</div>
